# Force npm to run node-gyp also as root so bcrypt install works
unsafe-perm=true
registry=https://registry.npmjs.org/

# use flossbank_npm_token env var to authenticate with NPM
# this allows us to use private @flossbank scoped packages
//registry.npmjs.org/:_authToken=${FLOSSBANK_NPM_TOKEN}
